.color-picker {
  margin-left: 8px;
}

.color-picker div {
  display: flex !important;
}

label#color-picker-label {
  padding-left: 10px;
}

.color-circle {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin-right: 8px;
}
